* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.routers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#header {
  width: 100%;
  height: 70px;
  background: #F0F0F0;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 264px;
}

#header .haeder-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  text-overflow: none;
  color: #000000;
}

#header .act {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

#header .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

#main {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.header-left,
.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 21px;
}

.home {
  width: 100%;
  padding: 0 264px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.home .home-title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  margin-top: 44px;
  color: #000000;
}

.home .home-email {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #0047FF;
  margin: 11px 0 74px 0;
}

.home .cont-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 74px;
  margin-bottom: 21px;
}

.home .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home .cont .item {
  padding: 21px 23px;
  width: 282px;
  height: 160px;
  left: 266px;
  top: 330px;
  background: linear-gradient(84.37deg, #20BF55 2.27%, #01BAEF 92.26%);
  border-radius: 15px;
  border-radius: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .cont .item .inside-item {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}

.home .cont .item .spec {
  font-size: 14px;
}

.home .after-cont {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0047FF;
  margin-top: 21px;
  margin-bottom: 74px;
}

.home .tranz-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 32px;
  color: #000000;
}

.home .cont-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.home .cont-actions .item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 100%;
}

.home .cont-actions .item .title-action {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  color: #B9C0D1;
}

.home .cont-actions .item .info-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  height: 46px;
  border-bottom: 1px solid #B9C0D1;
  color: #000000;
}

.home .cont-actions .item .info-action:nth-last-child(-n + 1) {
  border-bottom: 1px solid transparent;
}

.home .link-wallets {
  margin-top: 21px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0047FF;
}

.wrapper {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 44px 264px 0;
  position: relative;
  top: 70px;
  position: relative;
}

.wrapper .cont-main {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.wrapper .cont-main .main-top-title {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wrapper .cont-main .wall-title {
  margin-top: 74px;
  margin-bottom: 21px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.wrapper .cont-main .main-title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 11px;
  color: #000000;
}

.wrapper .cont-main .main-email {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #0047FF;
}

.wrapper .cont-main .cont-wallets {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.wrapper .cont-main .cont-wallets .item {
  width: 282px;
  height: 160px;
  background: linear-gradient(84.37deg, #D7816A 2.27%, #BD4F6C 92.26%);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 23px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}

.wrapper .cont-main .cont-wallets .item:nth-child(2) {
  background: linear-gradient(84.37deg, #5F0A87 2.27%, #A4508B 92.26%);
}

.wrapper .cont-main .cont-wallets .item:nth-child(3) {
  background: linear-gradient(84.37deg, #20BF55 2.27%, #01BAEF 92.26%);
}

.wrapper .cont-main .cont-wallets .item:nth-child(4) {
  background: linear-gradient(84.37deg, #380036 2.27%, #0CBABA 92.26%);
}

.wrapper .cont-main .cont-wallets .item:nth-child(5) {
  background: linear-gradient(84.37deg, #D7816A 2.27%, #BD4F6C 92.26%);
}

.wrapper .cont-main .cont-wallets .item:nth-child(6) {
  background: linear-gradient(84.37deg, #5F0A87 2.27%, #A4508B 92.26%);
}

.wrapper .cont-main .cont-wallets .item:nth-child(7) {
  background: linear-gradient(84.37deg, #20BF55 2.27%, #01BAEF 92.26%);
}

.wrapper .cont-main .link-wallets {
  margin-top: 21px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0047FF;
}

.wrapper .cont-main .wall-title:nth-child(2) {
  margin-bottom: 32px;
}

.wrapper .cont-main .cont-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.wrapper .cont-main .cont-actions .item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 100%;
}

.wrapper .cont-main .cont-actions .item .title-action {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  color: #B9C0D1;
}

.wrapper .cont-main .cont-actions .item .info-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  height: 41px;
  border-bottom: 1px solid #B9C0D1;
  color: #000000;
}

.wrapper .cont-main .cont-actions .item .info-action:nth-last-child(-n + 1) {
  border-bottom: 1px solid transparent;
}

.add-btn {
  margin-top: 44px;
  width: 438px;
  height: 56px;
  background: #0047FF;
  border: none;
  border-radius: 10px;
  font-style: normal;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
}

.form-title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #000000;
}
/*# sourceMappingURL=home.css.map */