* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.routers {
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#header {
    width: 100%;
    height: 70px;
    z-index: 100;
    background: #f0f0f0;
    backdrop-filter: blur(5px) !important;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-self: start;
    justify-content: space-between;
    padding: 0 264px;

    .haeder-nav {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        text-overflow: none;
        color: #000000;
    }

    .act {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .about {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}

#main {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: fit-content;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
    gap: 21px;
}

.home {
    width: 100%;
    padding: 0 264px;
    height: fit-content;

    .home-title {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;
        margin-top: 44px;
        color: #000000;
    }

    .home-email {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #0047FF;
        margin: 11px 0 74px 0;
    }

    .cont-title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-top: 74px;
        margin-bottom: 21px;
    }

    .cont {

        display: flex;
        align-items: center;
        gap: 24px;
        flex-wrap: wrap;

        .item {
            padding: 21px 23px;
            width: 282px;
            height: 160px;
            left: 266px;
            top: 330px;
            background: linear-gradient(84.37deg, #20BF55 2.27%, #01BAEF 92.26%);
            border-radius: 15px;
            border-radius: 15px;
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            .inside-item {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 29px;
                color: #FFFFFF;
            }

            .spec {
                font-size: 14px;
            }
        }
    }

    .after-cont {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #0047FF;
        margin-top: 21px;
        margin-bottom: 74px;
    }

    .tranz-title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 32px;
        color: #000000;
    }

    .cont-actions {
        display: flex;
        position: relative;
        // gap: 158px;

        .item {
            width: fit-content;
            width: 100%;

            .title-action {
                margin-bottom: 12px;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                width: 100%;
                color: #B9C0D1;
            }

            .info-action {

                display: flex;
                // background-color: red;
                width: 100%;
                align-items: center;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                height: 46px;
                border-bottom: 1px solid #B9C0D1;
                color: #000000;

            }

            .info-action:nth-last-child(-n + 1) {
                border-bottom: 1px solid transparent;

            }
        }

    }

    .link-wallets {
        margin-top: 21px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */

        text-decoration-line: underline;

        color: #0047FF;
    }

}

.wrapper {
    width: 100%;
    height: fit-content;
    padding: 44px 264px 0;
    // background-color: red;
    position: relative;
    top: 70px;
    position: relative;

    .cont-main {
        width: 100%;
        height: fit-content;


        .main-top-title {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .wall-title {
            margin-top: 74px;
            margin-bottom: 21px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;

            color: #000000;
        }


        .main-title {
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 59px;
            margin-bottom: 11px;
            color: #000000;

        }

        .main-email {

            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #0047FF;
        }

        .cont-wallets {
            width: 1200px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            // flex-wrap: nowrap;
            gap: 24px;

            .item {
                width: 282px;
                height: 160px;
                background: linear-gradient(84.37deg, #D7816A 2.27%, #BD4F6C 92.26%);
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                padding: 20px 23px;
                justify-content: space-between;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 29px;
                color: #FFFFFF;
            }

            .item:nth-child(2) {
                background: linear-gradient(84.37deg, #5F0A87 2.27%, #A4508B 92.26%);
            }

            .item:nth-child(3) {

                background: linear-gradient(84.37deg, #20BF55 2.27%, #01BAEF 92.26%);
            }

            .item:nth-child(4) {
                background: linear-gradient(84.37deg, #380036 2.27%, #0CBABA 92.26%);
            }

            .item:nth-child(5) {
                background: linear-gradient(84.37deg, #D7816A 2.27%, #BD4F6C 92.26%);
            }

            .item:nth-child(6) {
                background: linear-gradient(84.37deg, #5F0A87 2.27%, #A4508B 92.26%);
            }

            .item:nth-child(7) {
                background: linear-gradient(84.37deg, #20BF55 2.27%, #01BAEF 92.26%);
            }
        }

        .link-wallets {
            margin-top: 21px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            /* identical to box height */

            text-decoration-line: underline;

            color: #0047FF;
        }

        .wall-title:nth-child(2) {
            margin-bottom: 32px;
        }

        .cont-actions {
            display: flex;
            position: relative;
            // gap: 158px;

            .item {
                width: fit-content;
                width: 100%;

                .title-action {
                    margin-bottom: 12px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    width: 100%;
                    color: #B9C0D1;
                }

                .info-action {

                    display: flex;
                    // background-color: red;
                    width: 100%;
                    align-items: center;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    height: 41px;
                    border-bottom: 1px solid #B9C0D1;
                    color: #000000;

                }

                .info-action:nth-last-child(-n + 1) {
                    border-bottom: 1px solid transparent;

                }
            }

        }
    }

}

.add-btn {
    margin-top: 44px;
    width: 438px;
    height: 56px;
    background: #0047FF;
    border: none;
    border-radius: 10px;
    font-style: normal;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;

}

.form-title {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #000000;
}

input {
    outline: none;
}

.done {
    border: 2px solid rgb(149, 209, 149) !important;
    box-shadow: 0 0 7px rgb(138, 182, 138);
}

.inpTest {
    display: block;
    overflow: visible;
    position: relative !important;
}


.default {
    position: absolute;
    transition: 300ms ease;
    top: 190px;
    right: -30px;
    opacity: 0;
}

.icon {
    transition: 300ms ease;
    opacity: 1;
}

.form-title {
    width: fit-content;
    white-space: nowrap;
}