<template>
	<div id="enter" class="forms">
		<form @submit="valid()">
			<h1 class="form-title">Регистрация</h1>
			<input type="text" v-model="email" placeholder="email" name="email"/>
			<input type="text" v-model="name" placeholder="name" name="name"/>
			<input type="text" v-model="secondName" placeholder="secondName" name="secondName"/>
			<input type="text" v-model="password" placeholder="password" name="password"/>
			<button>Продолжить</button>
			<router-link to="/SIGN_IN" class="switch">войти в аккаунт</router-link>
		</form>
	</div>
</template>

<script>
import { mapActions } from "vuex"

export default {
	data(){
		return{
			name: '',
			email: '',
			secondName: '',
			password: ''
		}
	},
	methods: {
		...mapActions(["REGISTER"]),
		valid: function(){
			if(this.name == '' || this.email == '' || this.secondName == '' || this.password == ''){
				alert('HOLY SHIT!')
			} else{
				this.REGISTER()
			}
		}
	},
};
</script>

<style>
</style>