<template>
  <div id="main">
    <Header />
    <div class="home">
      <p class="home-title">
        Добро пожаловать, {{ infos.name }} {{ infos.secondName }}
      </p>

      <p class="home-email">{{ infos.email }}</p>
      <p class="cont-title">Мои кошельки</p>
      <div class="cont">
        <div class="item">
          <p class="inside-item">VISA</p>
          <p class="inside-item spec">RUB</p>
        </div>
        <!-- <div class="item">
          <p class="inside-item">VISA</p>
          <p class="inside-item spec">RUB</p>
        </div>
        <div class="item">
          <p class="inside-item">VISA</p>
          <p class="inside-item spec">RUB</p>
        </div>
        <div class="item">
          <p class="inside-item">VISA</p>
          <p class="inside-item spec">RUB</p>
        </div> -->
      </div>
      <router-link to="/Wallets">
        <p class="after-cont">Смотреть все кошельки</p>
      </router-link>
      <p class="tranz-title">Последние транзакции</p>
      <div class="cont-actions">
        <div class="item">
          <p class="title-action">ID</p>
          <p class="info-action">1232312</p>
          <p class="info-action">1232312</p>
          <p class="info-action">1232312</p>
          <p class="info-action">1232312</p>
          <p class="info-action">1232312</p>
          <p class="info-action">1232312</p>
        </div>
        <div class="item">
          <p class="title-action">Отправлено с кошелька</p>
          <p class="info-action">VISA</p>
          <p class="info-action">VISA</p>
          <p class="info-action">VISA</p>
          <p class="info-action">VISA</p>
          <p class="info-action">VISA</p>
          <p class="info-action">VISA</p>
        </div>
        <div class="item">
          <p class="title-action">Категория</p>
          <p class="info-action">Автомобиль</p>
          <p class="info-action">Автомобиль</p>
          <p class="info-action">Автомобиль</p>
          <p class="info-action">Автомобиль</p>
          <p class="info-action">Автомобиль</p>
          <p class="info-action">Автомобиль</p>
        </div>
        <div class="item">
          <p class="title-action">Сумма транзации</p>
          <p class="info-action">414,000,000</p>
          <p class="info-action">414,000,000</p>
          <p class="info-action">414,000,000</p>
          <p class="info-action">414,000,000</p>
          <p class="info-action">414,000,000</p>
          <p class="info-action">414,000,000</p>
        </div>
        <div class="item">
          <p class="title-action">Когда</p>
          <p class="info-action">4 дня назад</p>
          <p class="info-action">4 дня назад</p>
          <p class="info-action">4 дня назад</p>
          <p class="info-action">4 дня назад</p>
          <p class="info-action">4 дня назад</p>
          <p class="info-action">4 дня назад</p>
        </div>
      </div>
      <router-link to="/TransAct">
        <p class="link-wallets">Смотреть все оплаты</p>
      </router-link>
    </div>
  </div>
</template>

<script>
import Header from "../components/Header.vue";
import { mapActions, mapMutations, mapGetters } from "vuex";

export default {
  components: {
    Header,
  },
  computed: {
    ...mapGetters(["infos"]),
  },
  methods: {
    ...mapMutations(["REGULATE_INFO_MUT"]),
    ...mapActions(["CHECK_ME", "SAVE_NAME", "SAVE_SECONDNAME", "SAVE_EMAIL"]),
  },
  created() {
    this.CHECK_ME();
    this.SAVE_NAME();
    this.SAVE_EMAIL();
    this.SAVE_SECONDNAME();
  },
  mounted: {},
};
</script>

<style>
</style>