<template>
  <div id="app">
    <div id="nav">
      <!-- <router-link to="/">Home</router-link> |
      <router-link to="/Enter">Enter</router-link> |
      <router-link to="/SIGN_IN">Sign in</router-link> |
      <router-link to="/Trans">Transition</router-link> |
      <router-link to="/Add">Add bag</router-link> | -->
    </div>
    <router-view />
  </div>
</template>


<script>
import "../css/style.css";
export default {

};
</script>
<style>

</style>
